{{define "fil_create"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/fils" method="POST">
                <div class="form-group">
                    <label for="titre">Titre du fil :</label>
                    <input type="text" id="titre" name="titre" required
                        placeholder="Ex: Les meilleurs coins à champignons">
                </div>

                <div class="form-group">
                    <label for="tag_id">Choisir un sujet :</label>
                    <select name="tag_id" id="tag_id" required>
                        <option value="1">Pétanque</option>
                        <option value="2">Cuisine</option>
                        <option value="3">Nature</option>
                    </select>
                </div>
                <div class="indic">* Vous devez être authentifié pour créer un fil</div>
                <button type="submit" class="btn">Publier le fil</button>
            </form>
</body>
</html>
{{end}}