{{define "menu"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <title>Soulèu</title>
</head>
<body>
    <header>
        <!-- <div>
            <img src="../assets/img/logo.jpg">
        </div> -->
    </header>
    <main>
        <div>
            <div class="pres">
                <div><h2>Bienvenue sur Soulèu !</h2></div>
                <div><h4>le forum qui sent bon la Provence, on discute de tout : recettes, pétanque, coins secrets...</h2></div>
                <div> + fil de discussion</div>
            </div>
        </div>
    </main>
</body>
</html>
{{end}}