{{define "nature"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/menu.css">
    <title>{{ (index . 0).Tag_c.Nom }}</title>
</head>

<body>
    <header class="menu">
        <div class="logo"><img src="../assets/img/logo.jpg"></div>
        <div class="lien">
            <a></a>

        </div>
        <div class="connexion">
            <a>
                <h3>Se connecter</h3>
            </a>
            <a><button class="btn">S'inscrire</button></a>
        </div>
    </header>
    <main>
        <div class="page_menu">
            <div class="pres">
                <div>
                    <h1 class="title">{{ (index . 0).Tag_c.Nom }}</h1>
                </div>
                <div>
                    <h4>{{ (index . 0).Tag_c.Description }}</h4>
                </div>
                <div><button class="btn">+ fil de discussion</button></div>
            </div>
            <div class="cont_fils">
                {{range .}}
                    <div class="fil">
                        <div class="img_tag">
                            <img src="/assets/img/nature.jpg">
                        </div>
                        <div class="carac">
                            <div class="title">
                            <a href="/fil/{{.Id}}/messages"><h2>{{.Titre}}</h2></a>
                            </div>
                            <div>{{.User_c.Pseudo}}</div>
                        </div>
                    </div>
                {{end}}
            </div>
           
    </main>
</body>

</html>
{{end}}